// color
$blue: #06bbcc;
$darkb: #181d38;
$green: #2eb135;
$orange: #ee8c1c;
$brown: #52565b;
$grey: #d7d7d7;
$dull: #777;
$white: #fff;
$bgrey: #565656;
$lgrey: #f1f1f1;
$stblack: #212832;
$fullblack: #000000;
$themecolor: #edeef0;

// font-styling
$fonticon: "fontawesome";
$fontbold: 600;
$fontmiddle: 500;
$fontnormal: 400;
$fontlight: 300;
$fontlineheight: 1.5;
$fontitalic: italic;
$textupper: uppercase;
$textcap: capitalize;

$transition: all ease-in-out 0.5s;
$size100: 100%;

// border
$borderall: 1px solid $grey;
$borderdashed: 1px dashed $grey;

$box-shadow: 0 0 15px #00000037;
